<h1 class="h3 mb-2 text-gray-800">{{fields.title}}</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

  <div class="card-body">
    <app-transfert-navigation></app-transfert-navigation>
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>{{fields.field_table_1}}</th>
            <th>{{fields.field_table_2}}</th>
            <th>{{fields.field_table_3}}</th>
            <th>{{fields.field_table_4}}</th>
            <th>{{fields.field_table_5}}</th>
            <th>{{fields.field_table_6}}</th>
            <th>{{fields.field_table_7}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12/11/2020</td>
            <td>4556 5066 1715 9575</td>
            <td>2324 2332 1311 4141</td>
            <td>3000$</td>
            <td>2898H73</td>
            <td>Achat </td>
            <td>

              <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Date </th>
            <th>Du compte</th>
            <th>Compte a donner</th>
            <th>Montant</th>
            <th>Référence</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
        data-target="#addTransfert">Ajouter</button>
      <app-modal-transfert></app-modal-transfert>
    </div>
  </div>
</div>