<a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-language"></i>

</a>
<!-- Dropdown - Alerts -->
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
    aria-labelledby="languageDropdown">
    <h6 class="dropdown-header">
        Langues
    </h6>
    <a (click)="setFrench()" class="dropdown-item">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Francais
    </a>
    <a (click)="setEnglish()" class="dropdown-item">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        English
    </a>


</div>