<h1 class="h3 mb-2 text-gray-800">{{fields.title}}</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

  <div class="card-body">
    <app-tax-navigation></app-tax-navigation>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>{{fields.field_table_1}}</th>
            <th>{{fields.field_table_2}}</th>
            <th>{{fields.field_table_3}}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>{{fields.field_table_1}}</th>
            <th>{{fields.field_table_2}}</th>
            <th>{{fields.field_table_3}}</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let t of taxs$">
            <td>{{t.name}}</td>
            <td><span class="badge badge-primary">{{t.rate}}</span></td>
            <td><button type="button" data-toggle="modal" (click)="edit(r.id)" data-target="#editBuy"
                class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm" (click)="delete(r.id)"><i
                  class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addTax">Ajouter</button>

      <app-modal-tax></app-modal-tax>

    </div>
  </div>
</div>