<h1 class="h3 mb-2 text-gray-800">{{fields.title}}</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

  <div class="card-body">
    <app-supplier-navigation></app-supplier-navigation>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>{{fields.field_table_1}}</th>
            <th>{{fields.field_table_2}}</th>
            <th>{{fields.field_table_3}}</th>
            <th>{{fields.field_table_4}}</th>
            <th>{{fields.field_table_5}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of suppliers$">
            <td>{{f.name}}</td>
            <td>{{f.phone}}</td>
            <td>{{f.email}}</td>
            <td>2313$</td>
            <td>
              <button title="voir fournisseur" (click)="view(f.id)" data-togglee="tooltip" type="button"
                data-toggle="modal" data-target="#viewSupplier" class="btn btn-primary btn-sm"><i
                  class="fas fa-eye"></i></button>

              <button title="creer facture" (click)="addInvoice(f.id)" data-togglee="tooltip" type="button"
                data-toggle="modal" data-target="#addInvoice" class="btn btn-success btn-sm"><i
                  class="fas fa-plus"></i></button>

              <button type="button" data-toggle="modal" (click)="edit(f.id)" data-target="#editSupplier"
                class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>

              <button type="button" class="btn btn-danger btn-sm" (click)="delete(f.id)"><i
                  class="fas fa-trash-alt"></i></button>
            </td>


        </tbody>
        <tfoot>
          <tr>
            <th>Nom</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Solde</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
        data-target="#addSupplier">Ajouter</button>
      <app-modal-supplier></app-modal-supplier>
    </div>
  </div>
</div>