<h1 class="h3 mb-2 text-gray-800">{{fields.title}}</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

  <div class="card-body">
    <div class="table-responsive">
      <app-revenue-navigation></app-revenue-navigation>
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>{{fields.field_table_1}}</th>
            <th>{{fields.field_table_2}}</th>
            <th>{{fields.field_table_3}}</th>
            <th>{{fields.field_table_4}}</th>
            <th>{{fields.field_table_5}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12/11/2020</td>
            <td>2316$</td>
            <td>5494 9374 2335 5226</td>
            <td>Noémi Goguen</td>
            <td>
              <button type="button" data-toggle="modal" data-target="#editRevenue" class="btn btn-warning btn-sm"><i
                  class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Montant</th>
            <th>Compte</th>
            <th>Client</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
        data-target="#addRevenue">Ajouter</button>
      <app-modal-revenue></app-modal-revenue>
    </div>
  </div>
</div>