<a class="nav-link dropdown-toggle" href="#" id="accessDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-door-open"></i>

</a>
<!-- Dropdown - Alerts -->
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="accessDropdown">
    <h6 class="dropdown-header">
        Accès Rapide
    </h6>
    <a routerLink="/add-proposition" class="dropdown-item" href="#">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Ajouter Devis
    </a>
    <a routerLink="/add-client" class="dropdown-item" href="#">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        Ajouter Client
    </a>
    <a routerLink="/add-supplier" class="dropdown-item" href="#">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        Ajouter Fournisseur
    </a>
    <a routerLink="/add-product" class="dropdown-item" href="#">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        Ajouter Article
    </a>
</div>