<h1 class="h3 mb-2 text-gray-800">{{fields.title}}</h1>


<div class="card shadow mb-4">

  <div class="card-body">
    <app-account-navigation></app-account-navigation>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>{{fields.field_table_1}}</th>
            <th>{{fields.field_table_2}}</th>
            <th>{{fields.field_table_3}}</th>
            <th>{{fields.field_table_4}}</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of accounts$">
            <td>{{a.holder_name}}</td>
            <td>{{a.account_number}}</td>
            <td>{{a.bank_name}}</td>
            <td>
              <button type="button" data-toggle="modal" (click)="edit(a.id)" data-target="#editAccount"
                class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm" (click)="delete(a.id)"><i
                  class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>{{fields.field_table_1}}</th>
            <th>{{fields.field_table_2}}</th>
            <th>{{fields.field_table_3}}</th>
            <th>{{fields.field_table_4}}</th>
          </tr>
        </tfoot>
      </table>


      <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
        data-target="#addAccount">Ajouter</button>
      <app-modal-account></app-modal-account>
    </div>
  </div>
</div>