<form method="POST" accept-charset="UTF-8" [formGroup]="clientForm">


    <h4 class="sub-title">Informations de base </h4>
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="name" class="">Nom </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-address-card"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name"
                        class="form-control" required="required" name="name" type="text" id="name">

                    <div *ngIf="submitted && f.name.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.name.errors.required">
                            {{msg.validationMessage.name}}</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="email">email </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="far fa-envelope"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email"
                        class="form-control" required="required" name="email" type="text" id="email">

                    <div *ngIf="submitted && f.email.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.email.errors.required">
                            {{msg.validationMessage.email}}</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_phone" class="">Téléphone </label>
                <label class="form-control-label" for="example2cols1Input"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" formControlName="phone"
                        class="form-control" required="required" name="phone" type="text" id="shipping_phone">

                    <div *ngIf="submitted && f.phone.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.phone.errors.required">
                            {{msg.validationMessage.phone}}</div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="password">Mot de passe </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password"
                        class="form-control" required="required" minlength="6" name="password" type="password" value=""
                        id="password">

                    <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.password.errors.required">
                            {{msg.validationMessage.password}}</div>
                    </div>

                </div>
            </div>
        </div>





    </div>
    <h4 class="sub-title">Adresse de blocage </h4>
    <div class="row">





        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="billing_country" class="">Pays </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="far fa-flag"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.billing_country.errors }"
                        formControlName="billing_country" class="form-control" required="required"
                        name="billing_country" type="text" id="billing_country">

                    <div *ngIf="submitted && f.billing_country.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.billing_country.errors.required">
                            {{msg.validationMessage.billing_country}}</div>
                    </div>

                </div>
            </div>
        </div>





        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="billing_city" class="">Ville </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-city"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.billing_city.errors }"
                        formControlName="billing_city" class="form-control" required="required" name="billing_city"
                        type="text" id="billing_city">

                    <div *ngIf="submitted && f.billing_city.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.billing_city.errors.required">
                            {{msg.validationMessage.billing_city}}</div>
                    </div>

                </div>
            </div>
        </div>




        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="billing_zip" class="">Code postal </label>
                <label class="form-control-label" for="example2cols1Input"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-crosshairs"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.subilling_zippplier.errors }"
                        formControlName="billing_zip" class="form-control"
                        placeholder="Entrer un courrier électronique utilisateur " required="required"
                        name="billing_zip" type="text" id="billing_zip">

                    <div *ngIf="submitted && f.billing_zip.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.billing_zip.errors.required">
                            {{msg.validationMessage.billing_zip}}</div>
                    </div>
                </div>
            </div>
        </div>





    </div>
    <div class="col-md-12 text-right">
        <a href="#" class="btn btn-info" id="billing_data">Expédition Identique à la facturation </a>
    </div>
    <h4 class="sub-title">Adresse d'expédition </h4>
    <div class="row">




        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_country" class="">Pays </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="far fa-flag"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.shipping_country.errors }"
                        formControlName="shipping_country" class="form-control" required="required"
                        name="shipping_country" type="text" id="shipping_country">

                    <div *ngIf="submitted && f.shipping_country.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.shipping_country.errors.required">
                            {{msg.validationMessage.shipping_country}}</div>
                    </div>
                </div>
            </div>
        </div>





        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_city" class="">Ville </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-city"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.shipping_city.errors }"
                        formControlName="shipping_city" class="form-control" required="required" name="shipping_city"
                        type="text" id="shipping_city">

                    <div *ngIf="submitted && f.shipping_city.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.shipping_city.errors.required">
                            {{msg.validationMessage.shipping_city}}</div>
                    </div>
                </div>
            </div>
        </div>






        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="shipping_zip" class="">Code postal </label>
                <label class="form-control-label" for="example2cols1Input"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-crosshairs"></i>
                        </div>
                    </div>
                    <input [ngClass]="{ 'is-invalid': submitted && f.shipping_zip.errors }"
                        formControlName="shipping_zip" class="form-control"
                        placeholder="Entrer un courrier électronique utilisateur " required="required"
                        name="shipping_zip" type="text" id="shipping_zip">

                    <div *ngIf="submitted && f.shipping_zip.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.shipping_zip.errors.required">
                            {{msg.validationMessage.shipping_zip}}</div>
                    </div>

                </div>
            </div>
        </div>




    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <button (click)="add()" type="button" class="btn btn-info">
                <i class="fas fa-save"></i>
                Sauvegarder
            </button>
            <button (click)="reset()" type="button" class="btn btn-danger">
                <i class="fas fa-times"></i>
                Annuler
            </button>
        </div>
    </div>

</form>